html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}
body {
    background:radial-gradient( rgb(75, 75, 75),black 70%);
    color: aliceblue;
}

div.total {
    box-sizing: border-box;
    border: 2px solid #444;
    border-radius: 4px;
    background-color: #222;
    max-width: 350px;
    min-width: 300px;
    height: 607px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

div.display {
   
    border: 3px solid #444;
    background-color: aliceblue;
    color: rgb(0, 0, 89);
    height: 35px;
    width: 84%;
    text-align: right;
    font-size: 30px;
    line-height: 35px;
    overflow: hidden;
    border-radius: 4px;
    margin: 10px auto;
    box-shadow: 0px 0px 2px #999, inset -1px -1px 2px blue;

}
ul {
    list-style: none;
    margin-top: 15px;
    
    
}
ul li {display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    width: 22%;
    height:70px;
    border: 1px solid white;
    margin: 6px;
    float: left;
    margin-left: -1px;
    position: relative;
    left: -15px;   
    font-size: 30px;
    line-height: 60px;  
    border-radius: 4px;
    box-shadow: 0px 0px 2px #999, 1px 1px 2px blue;
    cursor:pointer
}

ul li:nth-child(16) {
    height: 153px;
}
ul li:nth-child(17) {
    margin-top: -77px;
}
ul li:nth-child(18) {
    margin-top: -77px;
}
ul li:nth-child(19) {
    margin-top: -77px;
}

ul li:hover {
    background-color: #555;
}

ul li:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0px 2px #999, 1px 1px 2px red;
}



.sign  {
    clear: both;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    border: 3px solid #444;
    width: 95%;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #999, 1px 1px 2px red;
    
}

.sign:hover {
    background-color: #333;
}

.sign:active {
    position: relative;
    top: 18px;
    box-shadow: 0px 0px 2px #999, 1px 1px 2px lime;
}